
@font-face {
  font-family: 'Pacifico-Regular';
  src: url('https://getsign-dev-ed--getsign.visualforce.com/resource/1595690778000/getsign__ui_Resource/Resources/Fonts/Pacifico-Regular/Pacifico-Regular.eot?#iefix') format('embedded-opentype'),  url('https://getsign-dev-ed--getsign.visualforce.com/resource/1595690778000/getsign__ui_Resource/Resources/Fonts/Pacifico-Regular/Pacifico-Regular.woff') format('woff'), url('https://getsign-dev-ed--getsign.visualforce.com/resource/1595690778000/getsign__ui_Resource/Resources/Fonts/Pacifico-Regular/Pacifico-Regular.ttf')  format('truetype'), url('https://getsign-dev-ed--getsign.visualforce.com/resource/1595690778000/getsign__ui_Resource/Resources/Fonts/Pacifico-Regular/Pacifico-Regular.svg#Pacifico-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
